# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem
*.key
serviceAccountKey.json
firebase-adminsdk*.json

# Backend dependencies
backend/node_modules/

# Flutter dependencies & builds
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/ios/Flutter/.last_build_id
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# IDEs & OS files
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
